mixin quiz-quest-block(id, answers, descr)
    .row.no-gutters.mt-xl-60.mt-30
        .col-lg-auto
            .pr-lg-60
                - var i = 1;
                each item in answers
                    - var lblClass = '';
                    if(item.type === 'danger')
                        - lblClass = 'danger';
                    else if(item.type === 'warning')
                        - lblClass = 'warning'
                    else if(item.type === 'success')
                        - lblClass = 'success'

                    .radio.radio--btn
                        input.radio__input(id=`quiz-${id}-${i}` type="radio" name=`quiz-${id}`)
                        label(class=`radio__label radio__label--${lblClass}` for=`quiz-${id}-${i}`)= item.title
                    - i++;

        .col-lg.pl-lg-2.mt-30.mt-lg-0
            .card
                .card__header
                    .card__title У тебя <span class="score-counter--js">0</span> баллов
                    p.fz-14.mb-0.mt-1 Начни отвечать на вопросы

                .card__body
                    p.card__small.mb-0 Пояснение к вопросу от сертифицированного тренера и лайф-коуча

                    .row.mt-xl-25.mt-15
                        .col-xl-auto.text-center
                            .card__img
                                img.mb-15(src="./images/pavluk-d-s.png" alt="Павлюк Дмитрий Сергеевич")
                            .card__name Павлюк <br />Дмитрий Сергеевич

                        .col-xl.mt-15.mt-xl-0
                            .card__text= descr
